# Python specific
__pycache__/
*.pyc

# Environment variables
.env

# IDE or editor specific files
.vscode/
.idea/

# Compiled Python files
*.pyc

# Jupyter Notebook specific
.ipynb_checkpoints/

# Dependency directories
venv/
env/
